<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008240603091-tnhd2n5f0qfs758au7vrpi0iks6es0pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008240603091-tnhd2n5f0qfs758au7vrpi0iks6es0pl</string>
	<key>API_KEY</key>
	<string>AIzaSyD3jii9T7PLEVrNrp88J-d2v0tpB3WoY6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1008240603091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.okfoodd</string>
	<key>PROJECT_ID</key>
	<string>flutter-483e8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-483e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008240603091:ios:214ea5d667479697e28926</string>
</dict>
</plist>